CLERK_SECRET_KEY=
CLERK_JWT_KEY=
CLERK_AUTHORIZED_PARTIES=
CORS_ORIGINS=https://kaplun.tech,https://www.kaplun.tech,http://localhost:8081
APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your_appwrite_project_id
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=vernacular_saas
APPWRITE_CREATORS_TABLE_ID=creators
IG_API_PORT=8000
INSTAGRAM_APP_ID=your_instagram_app_id
INSTAGRAM_APP_SECRET=your_instagram_app_secret
REDIRECT_URI=https://your-ngrok-url.ngrok.io/instagram/callback
